@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Rubik+Vinyl&family=VT323&display=swap');


body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f9;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	--s: 200px;
	/* control the size*/
	--c1: #ffffff;
	--c2: #ffffff00;
	--c3: #ececec;

	background:
		repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 50%) calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
		repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 50%);
	background-size: var(--s) calc(var(--s)*tan(30deg));

}

#initcontainer,
#revelationcontainer,
#playcontainer {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1.5em;
	max-width: 800px;
	width: 100%;
	text-align: center;
}

#playongoingdiv {
	border-radius: 20px;
	background-color: #ffc663;
}

.hflexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	margin-bottom: 1.5em;
}

.vflexbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	margin-bottom: 1.5em;
}

input,
button {
	width: 90%;
	max-width: 500px;
	padding: 0.8em;
	font-size: 3rem;
	border: 2px solid #00623e;
	border-radius: 10px;
	outline: none;
	margin-bottom: 5px;
}

input::placeholder {
	color: #999;
}

button {
	background-color: #00623e;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #004d2c;
}

h1,
h2,
p,
input,
button,
summary,
textinbox {
	margin-bottom: 0.8em;
	font-family: "VT323", serif;
	overflow-wrap: anywhere;
}

h1,
summary {
	font-size: 5rem;
	color: #00623e;
}

h2 {
	font-size: 3.2rem;
}

p {
	font-size: 4.5rem;
	color: #e28f00;
}

/* Results display */
textinbox {
	background-color: #ffc663;
	padding: 0.5em;
	border-radius: 5px;
	margin-bottom: 0.5em;
	border-radius: 10px;
	font-size: 3.6rem;
	color: #000000;
}

.partyongoingbody {
	background-color: rffc663;
}

.partyoverbody {
	background-color: rgb(109, 255, 133);
}

.partyresetbody {
	background-color: rgb(181, 226, 255);
	animation-name: bgcolors;
	animation-duration: 10s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

@keyframes bgcolors {
	0% {
		background-color: rgb(181, 226, 255);
	}

	25% {
		background-color: rgb(199, 255, 232);
	}

	50% {
		background-color: rgb(255, 219, 231);
	}

	100% {
		background-color: rgb(255, 247, 216);
	}
}

logo {
	font-size: 6rem;
	color: #ff9966;
	font-family: "Rubik Vinyl", serif;
}

ul {
	text-align: left;
}

input[type="checkbox"] {
	border-radius: 10px;
	transform: scale(5);
	width: 100px;
}