/* General reset and responsive setup */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f9;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#initcontainer,
#revelationcontainer,
#playcontainer {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1.5em;
	max-width: 800px;
	width: 100%;
	text-align: center;
}

.hflexbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	margin-bottom: 1.5em;
}

input,
button {
	width: 90%;
	max-width: 400px;
	padding: 0.8em;
	font-size: 2rem;
	border: 2px solid #00623e;
	border-radius: 10px;
	outline: none;
	margin-bottom: 5px;
}

input::placeholder {
	color: #999;
}

button {
	background-color: #00623e;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #004d2c;
}

h1,
h2,
p {
	margin-bottom: 0.8em;
}

h1 {
	font-size: 3rem;
	color: #00623e;
}

h2 {
	font-size: 2.4rem;
}

p {
	font-size: 2rem;
}

/* Results display */
#resultsdiv p {
	background-color: #e9f5f0;
	padding: 0.5em;
	border-radius: 5px;
	margin-bottom: 0.5em;
}

.partyongoingbody {
	background-color: rgb(244, 161, 79);
}

.partyoverbody {
	background-color: rgb(174, 228, 183);
}

.partyresetbody {
	background-color: white;
}